{% extends "Instructor/dashboard_template.html" %}

{% block content %}
<div class="container-fluid bg-black">
  <div class="row">
    <div class="col-sm-2 mt-0 bg-dark">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-dark" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">



    </div>
    <div class="col-sm-8">
<div class="container-fluid">
  
<div class="container mt-5 overflow-hidden">
  <div class="row gx-5">
    
<div class="container overflow-hidden">


<div class="row">
  <div class="col-md-12 mt-5 bg-dark text-white">
    <h4 style="text-align: center; padding: 60px">Previous Courses</h4>
  </div>
</div>

<div class="row">

</div>


<div class="row">
  <div class="col-md-12 mt-5 bg-dark text-white">
    <h4 style="text-align: center; padding: 60px">Add new courses</h4>
  </div>
</div>

 
<div class="row">
  <a href = "add_courses">
    <div class="col-md-1 bg-dark text-white mt-5">
       <h4 style="font-size: 60px; text-align: center">+</h4>
    </div>
  </a>

  
</div>



</div>

  </div>
</div>
</div>
    </div>
    <div class="col-sm-2 pt-5">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
  </div>
</div>

{% endblock %}